<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>張真人小教室</title>
    <!-- 引入 Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        
        html, body {
            font-family: Arial, sans-serif !important;
            min-height: 100%;
            height: auto;
            color: #fff !important;
        }

        html{
            /* 背景圖 */
            background-image: url("images/background1.jpg") !important;
            background-size: cover;           /* 確保背景圖片覆蓋整個頁面 */
            background-repeat: no-repeat;     /* 防止背景圖片重複 */
            background-position: center;      /* 使背景圖保持居中 */
        }

        body {
            background: none !important; /* 覆蓋 Bootstrap 對 body 背景的設定 */
        }

        .container {
            max-width: 800px; /* 調整容器的最大寬度，使其更窄 */
            margin: 0 auto; /* 自動設定左右的 margin，使其置中 */
            padding: 0 20px; /* 增加左右 padding，使內容離邊緣更遠 */
        }

        @media screen and (max-width: 768px) {
            .container {
                padding: 0 2px; /* 在較小的螢幕上減少 padding */
            }
        }

        /* 樣式設置 */
        .table-container {
            margin: 20px 0;
        }

        table {
            margin: 20px 0;
            text-align: center;
        }

        th,
        td {
            padding: 12px;
            border: 1px solid #ddd;
            width: 33.33%;
        }

        th {
            background-color: #f2f2f2;
        }

        .table-bordered{
            border: 2px solid #ccc;
            border-radius: 10px; /* 調整為更大的圓角 */
            overflow: hidden; /* 確保表格內容不會超出圓角的邊框 */
        }

        input[type="text"],
        select {
            padding: 10px;
            font-size: 18px;
            border: 1px solid #ddd;
            width: 100%;
        }

        .images {
            margin-top: 20px;
        }

        .images img {
            max-width: 100%;
        }

        .results {
            margin-top: 20px;
            font-size: 18px;
        }

        .number-range {
            font-size: 14px;
            color: #888;
            margin-top: 5px;
        }

        .copy-button {
            margin-left: 10px;
            cursor: pointer;
        }

        .textareaContent {
            font-size: 20px;
            padding: 5px;
            border: 2px solid #ccc;
            border-radius: 5px;
            resize: none;
            width: 100%;
            height: 100%;
            /* 調整高度以適應 RWD */
            box-sizing: border-box;
            /* 確保 padding 和 border 不會影響元素的總大小 */
        }

        .summary_div_background {
            background-color: #f8f9fa;
            /*圖片*/
            /*background-image: url('images/summary_div_background.jpg');*/
            /*如果要換圖片就把這個註解*/
            background: linear-gradient(to bottom right, #e0f7fa, #f1f8e9); /* 使用淡藍色到淡綠色的漸層背景 */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            color: black;
        }

        .modal-result-text_style{
            color:black; 
            overflow-wrap: break-word;
        }

        @media screen and (max-width: 768px) {
            .button-container {
                flex-direction: column;
                align-items: stretch;
            }

            .button-container button {
                margin-right: 0;
                margin-bottom: 10px; /* 讓每個按鈕之間保持間距 */
            }

            .button-container button:last-child {
                margin-bottom: 10px; /* 讓最後一個按鈕與底部保持間距 */
            }
        }

        .modal-title{
            color: #000; /* 設置文字顏色為黑色 */
        }

        .modal-body p {
            color: #000; /* 設置文字顏色為黑色 */
        }

        /* 用法說明的 寬度 */
        .modal-dialog {
            max-width: 80% !important; /* 設置模態框寬度為 80% */
        }

        @media screen and (max-width: 768px) {
            .modal-dialog {
                max-width: 100% !important;
            }
        }

        .introPage{
            max-width: 1200px;
        }

        .page {
            display: none;
        }
        
        .visible {
            display: block;
        }

        .meditation_style {
            /* 背景圖 */
            background-image: url("images/img_meditation.jpg") !important;
            background-size: contain;       /* 確保背景圖片完全顯示並保持比例 */
            background-repeat: no-repeat;     /* 防止背景圖片重複 */
            background-position: center;      /* 使背景圖保持居中 */
            background-attachment: fixed;     /* 固定背景圖片，使其不隨滾動而移動 */
            height: 70vh;
            display: flex;                  /* 使用 Flexbox */
            justify-content: center;        /* 水平置中 */
            align-items: center;            /* 垂直置中 */
            text-align: center;             /* 若有多行文字，設定文字居中 */
        }

        @media screen and (max-width: 768px) {
            .meditation_style {
                background-size: cover;       /* 確保背景圖片覆蓋整個頁面 */
            }
        }
    </style>
</head>

<body>
    <!-- 應用內容 -->
    <div id="app">
        <!-- 說明頁面 -->
        <div id="A_Page" class="page container introPage p-3" :class="{ visible: currentPage === 'A_Page' }">
            <h1 class="mb-1 text-center" style="font-weight: bold;">歡迎來到張真人小教室</h1>
            <div class="row">
                <!-- 規則說明 -->
                <div class="col-md-12 mt-2">
                    <div class="p-2 border rounded shadow-sm summary_div_background">
                        <h1 class="mb-3" style="color: #007bff;">規則說明</h2>
						<ol>
							<li>每組牌限問一個問題。如有衍生問題，或其他問題，則需再抽一組牌。</li>
							<li>提問時，問題務必清晰且具體，並加入明確的時間範圍，例如：
								<ul>
									<li>「我是否能在三個月內遇到交往對象？」</li>
									<li>「我半年內是否有升遷機會？」</li>
								</ul>
							</li>
							
							<li>以下類型的問題恕不回答：
								<ul>
									<li>健康相關問題（請尋求專業醫療建議）。</li>
									<li>失物尋找。</li>
									<li>賭博相關問題。</li>
									<li>代替他人提問。</li>
								</ul>
								</li>
							<li>不清楚或不明確的問題將不予回答。若不清楚如何問，提問前可+官方line(@035huiof)詢問，小幫手會協助您。</li>
							<li>涉及出國唸書、遊學或打工的問題，請先確定國家後再提問。</li>
							<li>提問時，建議心中先有基本方向或想法，這有助於牌的解讀更貼近您的情況。</li> </ol>
                        <p>例如：</p>
						<!-- <ul style="color: #444;"> -->
                        <ul>
                            <li>「我是否能在半年內找到理想的工作？」</li>
                            <li>「我是否能在年底前與某人重修舊好？」</li>
                            <li>「我與某人的合作案是否會在今年內有好的結果？」</li>
                        </ul>
						<li>占卜結果出現後，請不吝給予回饋，無論結果如何，或後續發展回饋，都能幫助我們修正及精進分析。</li>
						<li>下一頁，將告訴您抽牌規則。</li>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-outline-light btn-lg mt-3 mb-5 px-5" @click="navigateToPage('B_Page')">下一頁</button>
            </div>
        </div>
        <!-- B頁面 -->
        <div id="B_Page" class="page container introPage p-3" :class="{ visible: currentPage === 'B_Page' }">
            <button type="button" class="btn btn-outline-light" style="margin-right: 10px;" @click="navigateToPage('A_Page')">上一頁</button>
            <div class="row">
                <div class="col-md-12 mt-2">
                    <div class="p-2 border rounded shadow-sm summary_div_background">
                        <!-- 抽牌說明 -->
                        <h1 class="mb-3" style="color: #007bff;">抽牌說明</h2>
                        <ol style="line-height: 1.8; color: #444;">
                            <li>總共4副牌，共抽8張牌。</li>
                            <li>第1輪共14張，抽2張，並選擇12宮位放置。例如：1放酉，8放亥。</li>
                            <li>卡片放置位置可以重覆。</li>
                            <li>第2輪共14張，抽2張，並選擇12宮位放置，與第1輪相同。例如：3放酉，12放申。</li>
                            <li>第3輪共32張，抽3張，並選擇12宮位放置，放置位置可以重覆，與前二輪相同。</li>
                            <li>最後1輪，數字1-12擇1即可。</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-outline-light btn-lg mt-3 mb-5 px-5" @click="navigateToPage('C_Page')">下一頁</button>
            </div>
        </div>
        <!-- 填問題 -->
        <div id="C_Page" class="page container" :class="{ visible: currentPage === 'C_Page' }">
            <div class="table-container row">
                <div class="col-md-12">
                    <div class="center-text">
                        <div style="display: flex; justify-content: space-between; align-items: center; margin: 5px;">
                            <!-- Left side buttons -->
                            <div class="button-container" style="display: flex;">
                                <button id="returnButton" type="button" class="btn btn-outline-light" style="margin-right: 10px;" @click="navigateToPage('B_Page')">上一頁</button>
                                <button type="button" class="btn btn-outline-danger" style="margin-right: 10px;"
                                    data-bs-toggle="modal" data-bs-target="#DirectionsModal" @click.stop>規則說明</button>
                                <button type="button" class="btn btn-outline-info" style="margin-right: 10px;"
                                    data-bs-toggle="modal" data-bs-target="#CardsModal" @click.stop>抽牌說明</button>
                                <button type="button" class="btn btn-outline-warning" style="margin-right: 10px;"
                                     data-bs-toggle="modal" data-bs-target="#AllLinkModalLabel" @click.stop>連結資訊</button>
                            </div>
                            <!-- Right side time block -->
                            <div style="margin-left: auto; font-weight: bold;">目前時間 : {{ currentTime }}</div>
                        </div>
                        <div style="display: flex; margin-bottom: 10px; width: 100%; max-width: 100%;" @click.stop>
                            <select class="form-select" style="width: 30%; margin-right: 10px;" v-model="gender">
                                <option value="" hidden>性別</option>
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                            <input type="text" class="form-control" style="width: 40%; margin-right: 10px;"
                                v-model="cus_name" placeholder="姓名">
                            <select id="selectSubject" ref="selectSubject" class="form-select" style="width: 30%;">
                                <option value="" hidden>主題</option>
                                <option value="工作">工作</option>
                                <option value="感情">感情</option>
                                <option value="財運">財運</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                        <textarea v-model="questionContent" id="textareaContent" ref="textareaContent"
                            class="textareaContent mt-1" required placeholder="問題描述，請詳述說明人、事、時。" @click.stop></textarea>
                        <!--未抽牌前可以改題目, 抽牌後只能瀏覽-->
                        <div style="display: flex;margin-top: 10px;">
                            <button v-if="!allRoundsCompleted && !hasSelectedBox" type="button" class="btn btn-primary" style="margin-right: 10px;" @click="SubmitText()" 
                                @click.stop>確認</button>
                            <button v-if="!allRoundsCompleted && !hasSelectedBox" type="button" class="btn btn-primary"
                                style="margin-right: 10px;" @click="ModifySubmitText()" @click.stop>編輯</button>
                            <button v-if="allRoundsCompleted || hasSelectedBox" type="button" class="btn btn-primary"
                                style="margin-right: 10px;" @click="gotoCardPage('E_Page')">返回抽牌頁</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="D_Page" class="page container introPage p-3" :class="{ visible: currentPage === 'D_Page' }">
            <button type="button" class="btn btn-outline-light" style="margin-right: 10px;" @click="navigateToPage('C_Page')">上一頁</button>
            <div class="row">
                <div class="col-md-12 mt-2">
                    <div class="p-2 border rounded shadow-sm meditation_style">
						<p>我是______，煩請___(神明/信仰/宇宙...)指引我，<br />
                        請專心冥想您的問題，冥想完畢後告訴我們，將進行抽牌。</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-outline-light btn-lg mt-3 mb-5 px-5" @click="navigateToPage('E_Page')">抽牌</button>
            </div>
        </div>
        <div id="E_Page" class="page container introPage p-3" :class="{ visible: currentPage === 'E_Page' }">
            <button type="button" class="btn btn-outline-light" style="margin-right: 10px;" @click="navigateToPage('C_Page')">返回問題頁</button>
             <!-- 表格區域 -->
             <div class="col-md-12" v-if="showTable">
                <table class="table table-bordered">
                    <tr>
                        <th>回合</th>
                        <th>數字</th>
                        <th>區域</th>
                    </tr>
                    <template v-for="(row, index) in rows" :key="index">
                        <tr v-if="canShow(index)">
                            <td>{{ row.currentRound }}</td>
                            <td>
                                <!-- 數字輸入框 -->
                                <input type="text" v-model="row.card" @input="debouncedHandleInput(index, row)"
                                    :disabled="!canEdit(index) || isNextFilled(index)">
                                <div class="number-range">可填數字: 1-{{ getMaxNumber(row.currentRound) }}</div>
                            </td>
                            <td>
                                <!-- 區域選擇框 -->
                                <select v-model="row.box">
                                    <option v-for="option in getOptions(row.currentRound)" :value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </template>
                </table>
            </div>
            <!-- 結果區域，所有回合完成後顯示 -->
            <div class="results col-12 col-md-6" v-if="allRoundsCompleted && showTable">
                <p>本次操作序號為：</p>
                <p style="white-space: normal;word-wrap: break-word;overflow-wrap: break-word;">{{ base64Output }}</p>
                <!-- 複製按鈕 -->
                <button class="btn btn-outline-light copy-button" @click="copyToClipboard(base64Output)">複製</button>
            </div>
        </div>

        <!-- Modal -->
        <!-- 規則說明 -->
        <div class="modal fade" id="DirectionsModal" tabindex="-1" aria-labelledby="DirectionsModalLabel" aria-hidden="true" @click.stop>
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="DirectionsModalLabel">規則說明</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            @click.stop></button>
                    </div>
                    <div class="modal-body">
                        <P>1. 每一組牌只能問一個問題。如要問衍生問題，或其他問題，要再抽一組牌。</P>
                        <P>2. 問題務必「清楚精準」，最好設定明確時間。Ex:我XXX"三個月內"會不會有好桃花？我XXX"半年內"是否有升遷的可能？</P>
                        <P>3. 如果占問的事情有了結果，請不吝給予回饋（無論好壞，或是後續發展的回饋，讓我能隨時修正或是更加精進算牌技術。）</P>
                        <P>4. 健康、失物、賭博、代問，將不予回答。</P>
                        <P>5. 不清楚不明確的問題，也將不予回答。</P>
                        <P>6. 出國唸書和遊學打工，要先設定國家再問。</P>
                        <P>7. 提問之前，自己最好先有想法，結果會更為精確。</P>
                        <P>例如：</P>
                        <P>●我XXX想知道是否可以在十月底前賣掉房子？</P>
                        <P>●我XXX是否可以在三個月內和XXX發展感情？</P>
                        <P>●我XXX在七月有XXX的考試，想知道考運如何？</P>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            @click.stop>Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 抽牌說明 -->
        <div class="modal fade" id="CardsModal" tabindex="-1" aria-labelledby="CardsModal" aria-hidden="true" @click.stop>
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CardsModal">抽牌說明</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            @click.stop></button>
                    </div>
                    <div class="modal-body">
                        <P>1. 總共4副牌，共抽8張牌。</P>
                        <P>2. 第1輪共14張，抽2張，並選12宮位則一放。如1放酉，8放亥。</P>
                        <P>3. 卡片放置位置可以重覆。</P>
                        <P>4. 第2輪共14張，抽2張，並選12宮位則一放，與第1輪相同。如3放酉，12放申。</P>
                        <P>5. 第3輪共32張，抽3張，並選12宮位則一放，放置位置可以重覆，與前二輪相同。</P>
                        <P>6. 最後1輪‧，數字1-12擇1即可。</P>
                        <P></P>
                        <P></P>
                        <P></P>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            @click.stop>Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 連結資訊 -->
        <div class="modal fade" id="AllLinkModalLabel" tabindex="-1" aria-labelledby="AllLinkModalLabel" aria-hidden="true" @click.stop>
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="AllLinkModalLabel">連結資訊</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align:center;">
                    <div style="display: flex; justify-content: space-around;">
                        <!-- 問卷區塊 -->
                        <div style="text-align: center;">
                            <p>問卷</p>
                            <a href="https://forms.gle/LcBrCzUvLagm7R5Z8" target="_blank">
                                <img src="images/feedbackQR.jpg" alt="問卷連結">
                            </a>
                        </div>
                    
                        <!-- 好友＠0區塊 -->
                        <div style="text-align: center;">
                            <p>好友＠035huiof</p>
                            <a href="https://lin.ee/seLphIC" target="_blank">
                                <img src="images/@035huiof.png" alt="好友">
                            </a>
                        </div>
                    
                        <!-- 社群區塊 -->
                        <div style="text-align: center;">
                            <p>社群</p>
                            <a href="https://line.me/ti/g2/1DKrqd7y118-txklw0DKV0XkdIqBmLKTDIiu8A?utm_source=invitation&utm_medium=link_copy&utm_campaign=default" target="_blank">
                                <img src="images/LINEgroup.jpg" alt="社群" border="0" height=339 width=336>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
            </div>
        </div>
        <!-- 顯示結果的模態框 -->
        <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true" @click.stop>
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modal-result-text_style">
                    <div class="modal-header">
                        <h5 class="modal-title" id="resultModalLabel">回合結果</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>本次操作序號為：</p>
                        <p id="operationSequence" v-if="allRoundsCompleted">{{ base64Output }}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary copy-button" @click="copyToClipboard(base64Output)">複製</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 引入 Vue 3 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.27/dist/vue.global.min.js"></script>
    <!-- 引入 Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // 使用 Vue 3 創建應用
        const { createApp, ref, computed, onMounted, onUnmounted, watch} = Vue;

        createApp({
            setup() {
                // 定義回合資料
                const rows = ref([
                    { currentRound: '一', card: '', box: '' },
                    { currentRound: '一', card: '', box: '' },
                    { currentRound: '二', card: '', box: '' },
                    { currentRound: '二', card: '', box: '' },
                    { currentRound: '三', card: '', box: '' },
                    { currentRound: '三', card: '', box: '' },
                    { currentRound: '三', card: '', box: '' },
                    { currentRound: '四', card: '', box: '' }
                ]);

                // 定義區域選項
                const locations = {
                    '1': '巳',
                    '2': '午',
                    '3': '未',
                    '4': '申',
                    '5': '辰',
                    '6': '酉',
                    '7': '卯',
                    '8': '戌',
                    '9': '寅',
                    '10': '丑',
                    '11': '子',
                    '12': '亥',
                    'center': '中心區域'
                };

                // 定義每回合的圖片
                const roundImages = ref({
                    '一': [],
                    '二': [],
                    '三': [],
                    '四': [],
                    'final': []
                });

                //選取類型
                const selectSubject = ref(null);

                const textareaContent = ref(null);

                //問題描述
                const questionContent = ref('');

                const gender = ref('');

                const cus_name = ref('');

                const showTable = ref(false);

                // 定義是否可以編輯輸入框和選擇框
                const canEdit = (index) => {
                    if (allRoundsCompleted.value) return false;
                    if (index === 0) return true;
                    const prevRow = rows.value[index - 1];
                    return prevRow.card !== '' && prevRow.box !== '';
                };

                // 定義是否顯示該行
                const canShow = (index) => {
                    if (index === 0) return true;
                    const prevRow = rows.value[index - 1];
                    return prevRow.card !== '' && prevRow.box !== '';
                };

                // 根據當前回合顯示相應圖片
                const currentRoundImages = computed(() => {
                    const currentRound = rows.value.find(row => row.card === '' || row.box === '')?.currentRound;
                    return roundImages.value[currentRound] || roundImages.value['final'];
                });

                // 驗證輸入的數字
                const validateNumber = (index) => {
                    const value = rows.value[index].card;
                    const currentRound = rows.value[index].currentRound;
                    const maxNumber = round_data.rounds.find(round => round.round === currentRound).texts.length;

                    if (!/^\d*$/.test(value)) {
                        rows.value[index].card = value.replace(/\D/g, '');
                        return false;
                    }

                    if (value < 1 || value > maxNumber) {
                        alert(`請輸入 1 到 ${maxNumber} 之間的數字！`);
                        rows.value[index].card = '';
                        return false;
                    }

                    return true;
                };

                // 檢查是否有重複的數字
                const checkDuplicate = (index) => {
                    const currentRow = rows.value[index];
                    const currentRound = currentRow.currentRound;
                    const currentCard = currentRow.card;
                    if (currentCard === '') return;
                    const duplicate = rows.value.some((row, i) => i !== index && row.currentRound === currentRound && row.card === currentCard);
                    if (duplicate) {
                        alert("同一回合不能輸入相同的數字！");
                        rows.value[index].card = '';
                        return false;
                    }
                    return true;
                };

                const round_data = {
                    ver: "1.0",
                    rounds: [
                        {
                            round: "一",
                            card_back_background_image: "images/back3.jpg",
                            card_face_background_image: "images/face10.jpg",
                            totalCards: 14,
                            drawCount: 2,
                            texts: [
                                { key: "AA", "front": "", "back": "" },
                                { key: "AB", "front": "", "back": "" },
                                { key: "AC", "front": "", "back": "" },
                                { key: "AD", "front": "", "back": "" },
                                { key: "AE", "front": "", "back": "" },
                                { key: "AF", "front": "", "back": "" },
                                { key: "AG", "front": "", "back": "" },
                                { key: "AH", "front": "", "back": "" },
                                { key: "AI", "front": "", "back": "" },
                                { key: "AJ", "front": "", "back": "" },
                                { key: "AK", "front": "", "back": "" },
                                { key: "AL", "front": "", "back": "" },
                                { key: "AM", "front": "", "back": "" },
                                { key: "AN", "front": "", "back": "" }
                            ]
                        },
                        {
                            round: "二",
                            card_back_background_image: "images/back2.jpg",
                            card_face_background_image: "images/face16.jpg",
                            totalCards: 14,
                            drawCount: 2,
                            texts: [
                                { key: "BA", "front": "", "back": "" },
                                { key: "BB", "front": "", "back": "" },
                                { key: "BC", "front": "", "back": "" },
                                { key: "BD", "front": "", "back": "" },
                                { key: "BE", "front": "", "back": "" },
                                { key: "BF", "front": "", "back": "" },
                                { key: "BG", "front": "", "back": "" },
                                { key: "BH", "front": "", "back": "" },
                                { key: "BI", "front": "", "back": "" },
                                { key: "BJ", "front": "", "back": "" },
                                { key: "BK", "front": "", "back": "" },
                                { key: "BL", "front": "", "back": "" },
                                { key: "BM", "front": "", "back": "" },
                                { key: "BN", "front": "", "back": "" }
                            ]
                        },
                        {
                            round: "三",
                            card_back_background_image: "images/back1.jpg",
                            card_face_background_image: "images/face17.jpg",
                            totalCards: 32,
                            drawCount: 3,
                            texts: [
                                { key: "CA", "front": "", "back": "" },
                                { key: "CB", "front": "", "back": "" },
                                { key: "CC", "front": "", "back": "" },
                                { key: "CD", "front": "", "back": "" },
                                { key: "CE", "front": "", "back": "" },
                                { key: "CF", "front": "", "back": "" },
                                { key: "CG", "front": "", "back": "" },
                                { key: "CH", "front": "", "back": "" },
                                { key: "CI", "front": "", "back": "" },
                                { key: "CJ", "front": "", "back": "" },
                                { key: "CK", "front": "", "back": "" },
                                { key: "CL", "front": "", "back": "" },
                                { key: "CM", "front": "", "back": "" },
                                { key: "CN", "front": "", "back": "" },
                                { key: "CO", "front": "", "back": "" },
                                { key: "CP", "front": "", "back": "" },
                                { key: "CQ", "front": "", "back": "" },
                                { key: "CR", "front": "", "back": "" },
                                { key: "CS", "front": "", "back": "" },
                                { key: "CT", "front": "", "back": "" },
                                { key: "CU", "front": "", "back": "" },
                                { key: "CV", "front": "", "back": "" },
                                { key: "CW", "front": "", "back": "" },
                                { key: "CX", "front": "", "back": "" },
                                { key: "CY", "front": "", "back": "" },
                                { key: "CZ", "front": "", "back": "" },
                                { key: "DA", "front": "", "back": "" },
                                { key: "DB", "front": "", "back": "" },
                                { key: "DC", "front": "", "back": "" },
                                { key: "DD", "front": "", "back": "" },
                                { key: "DE", "front": "", "back": "" },
                                { key: "DF", "front": "", "back": "" }
                            ]
                        },
                        {
                            round: "四",
                            card_back_background_image: "images/back4.jpg",
                            card_face_background_image: "images/face9.jpg",
                            totalCards: 12,
                            drawCount: 1,
                            texts: [
                                { key: "EA", "front": "", "back": "" },
                                { key: "EB", "front": "", "back": "" },
                                { key: "EC", "front": "", "back": "" },
                                { key: "ED", "front": "", "back": "" },
                                { key: "EE", "front": "", "back": "" },
                                { key: "EF", "front": "", "back": "" },
                                { key: "EG", "front": "", "back": "" },
                                { key: "EH", "front": "", "back": "" },
                                { key: "EI", "front": "", "back": "" },
                                { key: "EJ", "front": "", "back": "" },
                                { key: "EK", "front": "", "back": "" },
                                { key: "EL", "front": "", "back": "" }
                            ]
                        }
                    ]
                };

                const randomTexts = ref({});
                const getRandomTexts = (round) => {
                    if (!randomTexts.value[round]) {
                        const roundData = round_data.rounds.find(r => r.round === round);
                        if (roundData) {
                            randomTexts.value[round] = shuffleArray(roundData.texts);
                        } else {
                            console.error(`Round ${round} not found.`);
                            return [];
                        }
                    }
                    return randomTexts.value[round];
                };

                // 隨機排列數組的函數
                const shuffleArray = (array) => {
                    for (let i = array.length - 1; i > 0; i--) {
                        const j = Math.floor(Math.random() * (i + 1));
                        [array[i], array[j]] = [array[j], array[i]];
                    }
                    return array;
                };

                round_data.rounds.forEach(round => {
                    getRandomTexts(round.round);
                });

                const getCardKey = (round, card) => {
                    const texts = getRandomTexts(round);
                    return texts[card - 1].key;
                };

                const getMaxNumber = (round) => {
                    const roundData = round_data.rounds.find(r => r.round === round);
                    return roundData ? roundData.texts.length : 0;
                };

                const allRoundsCompleted = computed(() => {
                    return rows.value.every(row => row.card !== '' && row.box !== '');
                });

                const results = computed(() => {
                    if (!allRoundsCompleted.value) return [];
                    return rows.value.map(row => {
                        return {
                            round: row.currentRound,
                            key: getCardKey(row.currentRound, row.card),
                            box: row.box
                        };
                    });
                });

                const roundMap = {
                    '一': 1,
                    '二': 2,
                    '三': 3,
                    '四': 4
                };
                
                const resultsTime = ref('');

                const formattedResults = computed(() => {
                    const version = `${round_data.ver}`;
                    const resultStr = results.value.map(result => `${result.box}-${result.key}`).join('-');

                    if (resultsTime.value === ''){
                        resultsTime.value = currentTime.value;
                    }

                    return {
                        cus_info: {
                            gender: encodeURIComponent(gender.value),
                            cus_name: encodeURIComponent(cus_name.value),
                            content: encodeURIComponent(questionContent.value),
                            subject: encodeURIComponent(selectSubject.value.value),
                            divination_time: encodeURIComponent(resultsTime.value)
                        },
                        result: `${version};${resultStr}`
                    };
                });

                const base64Output = computed(() => {
                    const utf8String = new TextEncoder().encode(JSON.stringify(formattedResults.value));
                    const base64String = btoa(String.fromCharCode.apply(null, utf8String));
                    return base64String;
                });

                const decodedBase64 = computed(() => {
                    const binaryString = atob(base64Output.value);
                    const bytes = new Uint8Array(binaryString.length);
                    for (let i = 0; i < binaryString.length; i++) {
                        bytes[i] = binaryString.charCodeAt(i);
                    }
                    const decodedString = new TextDecoder().decode(bytes);
                    return decodedString;
                });

                // 防抖函數，用於延遲處理輸入事件
                const debounce = (func, delay) => {
                    let timeout;
                    return function (...args) {
                        clearTimeout(timeout);
                        timeout = setTimeout(() => func.apply(this, args), delay);
                    };
                };

                const handleInput = (index, row) => {
                    if (validateNumber(index) && checkDuplicate(index)) {
                        //row.cardText = getCardText(row.currentRound, row.card);
                    }
                };

                const debouncedHandleInput = debounce(handleInput, 500);

                /* 禁用下一格 */
                const isNextFilled = (index) => {
                    const nextRow = rows.value[index];
                    return nextRow ? (nextRow.card !== '' && nextRow.box !== '') : false;
                };

                const getOptions = (currentRound) => {
                    if (currentRound === '四') {
                        return [{ value: 'center', text: locations['center'] }];
                    }
                    return Object.keys(locations)
                        .filter(key => key !== 'center')
                        .map(key => ({ value: key, text: locations[key] }));
                };

                // 複製 Base64 字串到剪貼板
                const copyToClipboard = (text) => {
                    navigator.clipboard.writeText(text).then(() => {
                        alert("字串已複製到剪貼板！");
                    }).catch(err => {
                        console.error('複製失敗: ', err);
                    });
                };

                const SubmitText = () => {
                    let text = questionContent.value;
                    //如有文字則將輸入框readonly
                    if (text != "") {

                        textareaContent.value.readOnly = true;
                        //要呈現不給輸入的 style
                        textareaContent.value.style.backgroundColor = "#E0E0E0";

                        selectSubject.value.disabled = true;
                        selectSubject.value.style.backgroundColor = "#E0E0E0";

                        showTable.value = true;
                        currentPage.value = 'D_Page';
                    } else {
                        alert("請填寫問題描述");
                    }
                };

                const ModifySubmitText = () => {
                    textareaContent.value.readOnly = false;
                    textareaContent.value.style.backgroundColor = "#FFFFFF";

                    selectSubject.value.disabled = false;
                    selectSubject.value.style.backgroundColor = "#FFFFFF";

                    showTable.value = false;
                };

                const currentTime = ref("");

                // 定義函數來更新時間
                const updateTime = () => {
                    const now = new Date();
                    // 使用 Intl.DateTimeFormat 來獲取特定時區（GMT+8）的時間
                    const options = {
                        timeZone: 'Asia/Taipei', // GMT+8 時區，對應台北
                        hour12: false, // 使用 24 小時制
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit',
                        hour: '2-digit',
                        minute: '2-digit',
                        second: '2-digit'
                    };
                    const formatter = new Intl.DateTimeFormat('zh-tw', options);
                    currentTime.value = formatter.format(now);
                };

                // Vue 的生命周期鉤子，用於初始化和清除定時器
                onMounted(() => {
                    updateTime(); // 初始化顯示時間
                    const intervalId = setInterval(updateTime, 1000); // 每秒更新時間

                    // 保存 intervalId 以便後續清除
                    onUnmounted(() => {
                        clearInterval(intervalId); // 組件卸載時清除定時器
                    });
                });

                // 監測所有回合是否完成，一旦完成就顯示結果模態框
                watch(allRoundsCompleted, (newValue) => {
                    if (newValue) {
                        const resultModal = new bootstrap.Modal(document.getElementById('resultModal'));
                        resultModal.show();
                    }
                });

                // 定義一個 reactive 的變量來管理當前顯示的頁面
                const currentPage = ref('A_Page');

                // 定義頁面切換的函數
                function navigateToPage(pageId) {
                    currentPage.value = pageId;
                }

                // 監測所有區域是否有被選擇
                const hasSelectedBox = ref(false);
                watch(
                    () => rows.value.map(row => row.box),
                    (newValues) => {
                        if (newValues.some(box => box !== "")) {
                            hasSelectedBox.value = true; // 當有任意區域被選擇，將其設為 true
                        }
                    },
                    { immediate: true, deep: true }
                );


                const gotoCardPage = () => 
                { 
                    // 返回問題頁
                    navigateToPage('E_Page');

                    //如果判斷回合已結束
                    if (allRoundsCompleted.value) {
                        // 顯示模態框
                        const resultModal = new bootstrap.Modal(document.getElementById('resultModal'));
                        resultModal.show();
                    }
                }

                return {
                    rows,
                    roundImages,
                    canEdit,
                    currentRoundImages,
                    validateNumber,
                    randomTexts,
                    getCardKey,
                    checkDuplicate,
                    debouncedHandleInput,
                    allRoundsCompleted,
                    results,
                    formattedResults,
                    base64Output,
                    decodedBase64,
                    getMaxNumber,
                    canShow,
                    isNextFilled,
                    getOptions,
                    copyToClipboard,
                    gender,
                    cus_name,
                    SubmitText,
                    ModifySubmitText,
                    selectSubject,
                    textareaContent,
                    showTable,
                    questionContent,
                    currentTime,
                    currentPage,
                    navigateToPage,
                    hasSelectedBox,
                    gotoCardPage
                };
            }
        }).mount('#app');
    </script>
</body>

</html>